/* ==================== GLOBAL CSS ====================== */
@import url('https://fonts.googleapis.com/css2?family=Quattrocento&family=Quattrocento+Sans&display=swap');

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 100%;
}
/* Variables */
:root {
  /* COLORS */
  /* primary */
  --primary-100: #d8eefe;
  --primary-200: #b1ddfe;
  --primary-300: #8bcdfd;
  --primary-400: #64bafd;
  --primary-500: #3da9fc;
  --primary-600: #3187ca;
  --primary-700: #256597;
  --primary-800: #184465;
  --primary-900: #0c2232;
  /* grey */
  --grey-50: #f9fafb;
  --grey-100: #f3f4f6;
  --grey-200: #e5e7eb;
  --grey-300: #d1d5db;
  --grey-400: #9ca3af;
  --grey-500: #6b7280;
  --grey-600: #4b5563;
  --grey-700: #374151;
  --grey-800: #1f2937;
  --grey-900: #111827;
  /* secondary */
  --black: #222;
  --white: #fff;
  --red-light: #f8d7da;
  --red-dark: #842029;
  --green-light: #d1e7dd;
  --green-dark: #0f5132;
  /* specific vars */
  --backgroundColor: var(--primary-100);
  --textColor: var(--grey-900);
  /* TYPOGRAPHY */
  --headingFont: 'Quattrocento', serif;
  --bodyFont: 'Quattrocento Sans', sans-serif;
  --smallText: 0.7em;
  --letterSpacing: 1px;
  /* BORDER */
  --borderRadius: 0.25rem;
  /* TRANSITION */
  --transition: 0.3s ease-in-out all;
  /* WIDTH */
  --max-width: 1120px;
  --fixed-width: 500px;
  /* BOX SHADOWS */
  --shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
  --shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -2px rgba(0, 0, 0, 0.1);
  --shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -4px rgba(0, 0, 0, 0.1);
  --shadow-xl: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 8px 10px -6px rgba(0, 0, 0, 0.1);
}

/* Typography */
body {
  background: var(--backgroundColor);
  font-weight: 400;
  line-height: 1.75;
  color: var(--textColor);
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-family: var(--headingFont);
  font-weight: 400;
  line-height: 1.3;
  text-transform: capitalize;
}
h1 {
  font-size: 3.052rem;
}
h2 {
  font-size: 2.441rem;
}
h3 {
  font-size: 1.953rem;
}
h4 {
  font-size: 1.563rem;
}
h5 {
  font-size: 1.25rem;
}
small,
.text-small {
  font-size: var(--smallText);
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding: 0;
}

/* Images */
.img {
  width: 100%;
  display: block;
  object-fit: cover;
}

/* Buttons */
.btn {
  cursor: pointer;
  color: var(--white);
  background: var(--primary-500);
  border: transparent;
  border-radius: var(--borderRadius);
  letter-spacing: var(--letterSpacing);
  padding: 0.375rem 0.75rem;
  box-shadow: var(--shadow);
  transition: var(--transition);
  text-transform: capitalize;
  display: inline-block;
  font-family: var(--bodyFont);
}
.btn:hover {
  background: var(--primary-700);
  box-shadow: var(--shadow-lg);
}
.btn-hipster {
  color: var(--primary-500);
  background: var(--primary-200);
}
.btn-hipster:hover {
  color: var(--primary-200);
  background: var(--primary-700);
}
.btn-block {
  width: 100%;
}

/* Alerts */
.alert {
  padding: 0.375rem 0.75rem;
  margin-bottom: 1rem;
  border-color: transparent;
  border-radius: var(--borderRadius);
}
.alert-danger {
  color: var(--red-dark);
  background: var(--red-light);
}
.alert-success {
  color: var(--green-dark);
  background: var(--green-light);
}

/* Forms */
.form {
  width: 90vw;
  max-width: var(--fixed-width);
  background: var(--white);
  border-radius: var(--borderRadius);
  box-shadow: var(--shadow-md);
  padding: 2rem 2.5rem;
  margin: 3rem auto;
}
.form-label {
  display: block;
  font-size: var(--smallText);
  margin-bottom: 0.5rem;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
}
.form-input,
.form-textarea {
  width: 100%;
  padding: 0.375rem 0.75rem;
  border-radius: var(--borderRadius);
  background: var(--grey-100);
  border: 1px solid var(--grey-200);
}
.form-row {
  margin-bottom: 1rem;
}
.form-textarea {
  height: 7rem;
}
::placeholder {
  font-family: inherit;
  color: var(--grey-400);
}
.form-alert {
  color: var(--red-dark);
  letter-spacing: var(--letterSpacing);
  text-transform: capitalize;
}
/* Alerts */
@keyframes loading {
  to {
    transform: rotate(360deg);
  }
}
.loading {
  width: 6rem;
  height: 6rem;
  border: 5px solid var(--grey-400);
  border-radius: 50%;
  border-top-color: var(--primary-500);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  animation: loading 0.6s linear infinite;
}

.loading-text {
  font-size: 1.2rem;
  font-weight: 600;
  margin-block: 0.5rem;
  text-align: center;
  color: var(--grey-900);
}

.error {
  letter-spacing: var(--letterSpacing);
  font-size: 1.2rem;
  color: var(--grey-900);
}

/* ==================== PROJECT CSS ====================== */
main {
  background-color: var(--white);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider-section {
  display: flex;
  align-items: center;
  width: 80%;
  max-width: 750px;
  margin-block: 4rem;
  position: relative;
}
.slide-container {
  background: var(--white);
  padding-inline: 2.7rem;
  width: 100%;
  left: 0;
  height: max-content;
  text-align: center;
  position: absolute;
  overflow: hidden;
}
.slide-img {
  width: 150px;
  height: 150px;
  margin-inline: auto;
  margin-bottom: 0.5rem;
  border-radius: 50%;
  border: 2px solid var(--grey-300);
}
.slide-quote {
  color: var(--primary-600);
  width: max-content;
  transform: rotate(180deg);
  font-size: 4rem;
}
.slide-name {
  margin-bottom: 0.1rem;
  font-size: larger;
  font-weight: 600;
  letter-spacing: var(--letterSpacing);
  color: var(--primary-600);
  text-transform: uppercase;
}
.slide-job {
  margin-block: 0.2rem 0.5rem;

  font-size: small;
  font-weight: 600;
}
.slide-comment {
  margin: 0.5rem auto 0;
}
.slider-btn {
  color: white;
  background-color: var(--grey-500);
  border: none;
  padding: 0.4rem 0.4rem 0.2rem;
  font-size: 1rem;
  position: absolute;
  cursor: pointer;
}
.slider-btn:hover {
  border: 1px solid var(--grey-500);
}
.next-btn {
  right: 0;
}
.previous-btn {
  left: 0;
}
