/* ==================== GLOBAL CSS ====================== */
@import url('https://fonts.googleapis.com/css2?family=Quattrocento&family=Quattrocento+Sans&display=swap');

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 100%;
}
/* Variables */
:root {
  /* COLORS */
  /* primary */
  --primary-100: #d8eefe;
  --primary-200: #b1ddfe;
  --primary-300: #8bcdfd;
  --primary-400: #64bafd;
  --primary-500: #3da9fc;
  --primary-600: #3187ca;
  --primary-700: #256597;
  --primary-800: #184465;
  --primary-900: #0c2232;
  /* grey */
  --grey-50: #f9fafb;
  --grey-100: #f3f4f6;
  --grey-200: #e5e7eb;
  --grey-300: #d1d5db;
  --grey-400: #9ca3af;
  --grey-500: #6b7280;
  --grey-600: #4b5563;
  --grey-700: #374151;
  --grey-800: #1f2937;
  --grey-900: #111827;
  /* secondary */
  --black: #222;
  --white: #fff;
  --red-light: #f8d7da;
  --red-dark: #842029;
  --green-light: #d1e7dd;
  --green-dark: #0f5132;
  /* specific vars */
  --backgroundColor: var(--grey-100);
  /* TYPOGRAPHY */
  --headingFont: 'Quattrocento', serif;
  --bodyFont: 'Quattrocento Sans', sans-serif;
  --letterSpacing: 1.2px;
  /* BORDER */
  --borderRadius: 0.25rem;
  /* TRANSITION */
  --transition: 0.3s ease-in-out all;
  /* WIDTH */
  --max-width: 1027px;
  --fixed-width: 500px;
  /* BOX SHADOWS */
  --shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
  --shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -2px rgba(0, 0, 0, 0.1);
  --shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -4px rgba(0, 0, 0, 0.1);
  --shadow-xl: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 8px 10px -6px rgba(0, 0, 0, 0.1);
}

/* Typography */
body {
  background: var(--backgroundColor);
  font-weight: 400;
  line-height: 1.75;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-family: var(--headingFont);
  font-weight: 400;
  line-height: 1.3;
  text-transform: capitalize;
}
h1 {
  font-size: 3.052rem;
}
h2 {
  font-size: 2.441rem;
}
h3 {
  font-size: 1.953rem;
}
h4 {
  font-size: 1.563rem;
}
h5 {
  font-size: 1.25rem;
}
small,
.text-small {
  font-size: var(--smallText);
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding: 0;
}
/* ==================== PROJECT CSS ====================== */
/* .body {
  width: 100%;
  
  background-color: var(--backgroundColor);
  padding-inline: 5%;
}
.close-body {
  opacity: 0;
  visibility: hidden;
}
.body-lg {
  display: none;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-inline: auto;
  margin-block: 1rem;
  position: fixed;
  width: 90%;
  height: 4rem;
}
.navbar_logo {
  text-transform: lowercase;
  font-weight: 600;
  color: var(--primary-900);
  letter-spacing: var(--letterSpacing);
}
.clip {
  width: 100%;
  height: 50vh;
  background-color: var(--grey-900);
  position: absolute;
  left: 0;
  transform: translateY(50%);
  opacity: 0.2;
  clip-path: polygon(0% 0%, 0% 100%, 100% 0% 100% 0%);
}

.open-sidebar {
  background-color: var(--primary-900);
  border: transparent;
  border-radius: var(--borderRadius);
  width: 30px;
  height: 30px;
  padding-top: 5px;
  color: var(--white);
  cursor: pointer;
}
.open-sidebar:hover {
  background-color: var(--primary-700);
  transform: scale(1.1);
}
.content-container {
  color: rgb(0, 0, 17);
  display: flex;
  flex-flow: column;
  height: calc(100vh - 4rem);
  justify-content: center;
}
.content-container h2 {
  max-width: 10em;
  margin-bottom: 0.5rem;
  font-weight: 600;
  font-family: var(--headingFont);
}
.content-container p {
  font-size: 1rem;
  letter-spacing: var(--letterSpacing);
  font-family: var(--bodyFont);
}
.sidebar-section {
  height: calc(100vh - 4rem);
  width: 100%;
  display: grid;
  align-content: start;
  gap: 2rem;
  text-transform: capitalize;
  padding: 15% 5%;
  position: fixed;
  top: 0;
  right: 0;
  opacity: 1;
  font-family: var(--bodyFont);
}
.close-sidebar-section {
   display: none; 
  opacity: 0;
  visibility: hidden;
}
.close-sidebar {
  position: absolute;
  font-size: 2rem;
  color: var(--primary-700);
  top: 18px;
  right: 29px;
  border: transparent;
  background: transparent;
  cursor: pointer;
}
.close-sidebar:hover {
  transform: scale(1.1);
}

.sidebar-section h5 {
  color: var(--primary-700);
  margin-bottom: 0.5rem;
}
.sidebar-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.sidebar-link {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 1rem;
  color: var(--grey-500);
}
.sidebar-link a {
  color: var(--primary-900);
}
.sidebar-link a:hover {
  text-decoration: underline;
}
.dropmenu-section {
  position: absolute;
  opacity: 0;
  top: 0;
}

@media screen and (min-width: 992px) {
  .body {
    display: none;
  }
  .body-lg {
    width: 100%;
    min-height: 100vh;
    background-color: var(--backgroundColor);
    padding-inline: 5%;
    display: block;
  }
  .large-container {
    max-width: 1027px;
    margin-inline: auto;
  }
  .large-container-navbar {
    position: fixed;
    width: 90%;
    display: flex;
    align-items: center;
    max-width: var(--max-width);
    justify-content: start;
    height: 4rem;
  }
  .pages {
    text-transform: capitalize;
    display: flex;
    flex-flow: row nowrap;
    gap: 1.5rem;
    flex-grow: 1;
    justify-content: center;
  }
  .single-page {
    cursor: pointer;
  }
  .content-container {
    text-align: center;
    margin-inline: auto;
  }
  .content-container h2 {
    margin-inline: auto;
  }
  .content-container p {
    max-width: 35em;
    margin-inline: auto;
  }
  .dropmenu-section {
    background-color: var(--white);
    width: 80%;
    height: max-content;
    max-width: 1027px;
    position: fixed;
    top: 7vh;
    left: 50%;
    transform: translateX(-50%);
    padding: 1.5rem;
    border-radius: var(--borderRadius);
    text-transform: capitalize;
    opacity: 0;
  }
  .show-dropmenu-section {
    opacity: 1;
     transition-delay: 1s;
  }
  .dropmenu-section h5 {
    color: var(--primary-700);
    margin-bottom: 0.5rem;
  }
  .dropmenu-link-container {
    display: flex;
    flex-flow: column wrap;
    max-height: 5rem;
  }
  .dropmenu-link {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 1rem;
    color: var(--grey-500);
  }
  .dropmenu-link a {
    color: var(--primary-900);
  }
  .dropmenu-link a:hover {
    text-decoration: underline;
  }
}
 */

/*
================
  NAVBAR
================ 
*/
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
  padding-inline: 5%;
  margin-inline: auto;
}
.logo {
  text-transform: lowercase;
  font-weight: 600;
  color: var(--primary-900);
  letter-spacing: var(--letterSpacing);
}
.menu-btn {
  background-color: var(--primary-900);
  border: transparent;
  border-radius: var(--borderRadius);
  color: var(--white);
  cursor: pointer;
  padding: 0.5rem 0.5rem;
}
.menu-btn:hover {
  background-color: var(--primary-700);
  transform: scale(1.1);
}
.nav-links {
  display: none;
}
@media screen and (min-width: 992px) {
  .navbar {
    max-width: var(--max-width);
  }
  .menu-btn {
    display: none;
  }
  .nav-links {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    gap: 1.2rem;
    align-self: stretch;
  }
  .sublinks {
    text-transform: capitalize;
    color: var(--primary-900);
    border: transparent;
    background: transparent;
  }
  .sublinks:hover {
    color: var(--primary-700);
    font-weight: 600;
  }
}
/*
================
  HERO
================ 
*/
.hero {
  height: calc(100vh - 4rem);
  display: flex;
  align-items: center;
  padding: 5%;
  position: relative;
}
.clip {
  width: 100%;
  height: 50vh;
  background-color: var(--grey-900);
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.2;
  clip-path: polygon(0% 0%, 0% 100%, 100% 0% 100% 0%);
}
.content-container h2 {
  max-width: 30rem;
  margin-bottom: 1rem;
  font-weight: 600;
  font-family: var(--headingFont);
}
.content-container {
  font-family: var(--bodyFont);
}
@media screen and (min-width: 992px) {
  .hero {
    justify-content: center;
  }
  .content-container h2 {
    text-align: center;
    margin-inline: auto;
  }
}
/*
================
  SIDEBAR
================ 
*/
.sidebar {
  background-color: var(--white);
  height: 100vh;
  width: 100%;
  position: relative;
  padding: 15% 5%;
  position: fixed;
  top: 0;
  opacity: 1;
  visibility: visible;
}
.close-sidebar {
  opacity: 0;
  visibility: hidden;
  transition: var(--transition);
}
.close-menu-btn {
  position: absolute;
  right: 5%;
  padding: 0.5rem;
  font-weight: 600;
  font-size: larger;
  top: 20px;
  border: transparent;
  background: transparent;
  color: var(--primary-700);
}
.sidebar h5 {
  color: var(--primary-700);
  margin-bottom: 0.5rem;
}
.sidebar-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 1rem;
}
.sidebar-link {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 1rem;
  color: var(--grey-500);
  text-transform: capitalize;
}
.sidebar-link a {
  color: var(--primary-900);
}
.sidebar-link a:hover {
  text-decoration: underline;
}
@media screen and (min-width: 992px) {
  .sidebar {
    display: none;
  }
}
/*
================
  SUBMENU
================ 
*/
.submenu {
  display: none;
}
@media screen and (min-width: 992px) {
  .submenu {
    display: block;
    background-color: var(--white);
    height: max-content;
    padding: 1.5rem;
    border-radius: var(--borderRadius);
    width: 90%;
    max-width: var(--max-width);
    box-shadow: var(--shadow);
    position: fixed;
    top: 4rem;
    left: 50%;
    transform: translateX(-50%);
    visibility: hidden;
  }
  .show-submenu {
    visibility: visible;
  }
  .submenu h5 {
    color: var(--primary-700);
    margin-bottom: 0.5rem;
  }
  .submenu-content {
    display: grid;
  }
  .submenu-link {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 1rem;
    color: var(--grey-500);
  }
  .submenu-link a {
    color: var(--primary-900);
    text-transform: capitalize;
  }
  .submenu-link a:hover {
    text-decoration: underline;
  }
}
